@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');
@import url('//code.jquery.com/ui/1.11.2/themes/cupertino/jquery-ui.min.css');
@import url('ol.css');

html,body {
    height:100%;
}

.mapcontainer {
    top: 0px; 
    left: 0px;
    position: absolute;
    z-index: 0;
}

.h100p {
    height:100%;
}

.mainview {
    height:calc(100% - 50px);
    position: relative;
}

.controlview {
    height:50px;
}

.mainview_2 {
    height:calc(100% - 110px);
}

.controlview_2 {
    height:110px;
}

.btn-container {
    padding:10px; 
}

#info {
    text-align:center;
}

.gps {
    top: 65px;
    left: .5em;
}

.ol-touch .gps {
    top: 80px;
}

.home {
    top: 95px;
    left: .5em;
}

.ol-touch .home {
    top: 110px;
}