@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
/* @import url('bootstrap.min.css');*/
@import url('//cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css');
/* @import url('swiper.min.css');*/
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* @import url('font-awesome.min.css');*/
@import url('ol.css');

html,body {
    height:100%;
}

.mapcontainer {
    top: 0px; 
    left: 0px;
    position: absolute;
    z-index: 0;
}

.h100p {
    height:100%;
}

.w100p {
    padding-right: 0px;
    padding-left: 0px;
}

.mainview {
    height: 100%;
    /*height:calc(100% - 50px);*/
    position: relative;
}

.controlview {
    height:50px;
}

.mainview_2 {
    height:calc(100% - 110px);
}

.controlview_2 {
    height:110px;
}

.btn-container {
    padding:10px; 
}

#info {
    text-align:center;
}

.ol-touch .ol-zoom {
    display: none;
}

.gps {
    top: 80px;
    left: .5em;
}

.ol-touch .gps {
    top: .5em;
}

.home {
    top: 120px;
    left: .5em;
}

.ol-touch .home {
    top: calc(.5em + 50px);
}

.poi_img {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.poi_img img {
    width:100%;
    height:auto;
    max-width:300px;
    max-height:300px;
    top: 0px;
    bottom: 0px;
    left:0px;
    right:0px;
    margin: auto;
    vertical-align: middle;/*IE7*/
}

.swiper-container {
    position: absolute;
    bottom: .5em;
    width: 115px;
    background-color: rgba(32,32,32,0.5);
    height: 60px;
}

.base-swiper {
    left: calc(50% - 60px - .5em - 115px);
}

.overlay-swiper {
    left: calc(50% + 60px + .5em);
}

.ol-touch .base-swiper {
    left: .5em;
    width: 110px;
}

.ol-touch .overlay-swiper {
    left: auto;
    right: .5em;
    width: 110px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: rgba(0,0,0,0);
    width: 80px;
    height:60px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide.selected {
    background-color: rgba(0,0,255,0.1);
}

.swiper-slide img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 0;
}

.swiper-slide div {
    font-size: 1em;
    position: absolute;
    right: 0;
    bottom: .1em;
    left: 0;
    margin: auto;
    z-index: 1;
    color: white;
    background-color: rgba(32,32,32,0.5);
}
.swiper-slide div.minimize {
    font-size: .8em;
}

.swiper-left-icon {
    position:absolute;
    left:0px;
    top:calc(50% - 5px);
    width:10px;
    height:10px;
    color:#ffffff;
}

.swiper-right-icon {
    position:absolute;
    left:calc(100% - 10px);
    top:calc(50% - 5px);
    width:10px;
    height:10px;
    color:#ffffff;
}

.ol-touch .swiper-slide div {
    font-size: .8em;
}
.ol-touch .swiper-slide div.minimize {
    font-size: .6em;
}

.ol-attribution {
    bottom: calc(65px + .5em);
}

.ol-maplat {
    left: .5em;
    bottom: calc(65px + .5em);
}

.ol-compass-fa {
    -webkit-transform: rotate(-33deg);
    -o-transform: rotate(-33deg);
    transform: rotate(-33deg);
}

.ol-control.no_rotation button {
    color: rgba(255,255,255,.7);
    background-color: rgba(120,5,8,.2);
}

.ol-control.receiving_gps button {
    color: rgba(255,255,255,.7);
    background-color: rgba(120,5,8,.2);
}

.ol-control.no_rotation button:focus,.ol-control.no_rotation button:hover {
    color: rgba(255,255,255,.7);
    background-color: rgba(120,5,8,.2)
}

.ol-control button {
    height: 2.0625em;
    width: 2.0625em;
    background-color: rgba(120,5,8,.5);
}

.ol-slidercommon {
    display: none;
}

.with-opacity .ol-slidercommon {
    display: block;
    bottom: .5em;
    left: calc(50% - 60px);
    width: 120px;
    height: 25px;
    padding: 0;
    border: 1px solid #dddddd;
}

.ol-touch.with-opacity .ol-slidercommon {
    left: calc(50% - 38px);
    width: 76px;
}

.with-opacity .ol-slidercommon button {
    position: relative;
    width: 20px;
    height: 25px;
}

.with-opacity .ol-slidercommon-thumb {
    height: 15px;
    width: 15px;
    margin: 0;
    filter: none;
}

.with-opacity .ol-slidercommon.disable button {
    color: rgba(255,255,255,.7);
    background-color: rgba(120,5,8,.2);
}

.ol-control button:focus,.ol-control button:hover{
    background-color:rgba(120,5,8,.7)
}