@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');
@import url('ol.css');

html,body {
    height:100%;
}

.h100p {
    height:100%;
}

.mainview {
    height:calc(100% - 50px);
}

.controlview {
    height:50px;
}

.btn-container {
    padding:10px; 
}

#info {
    text-align:center;
}

.gps {
    top: 65px;
    left: .5em;
}

.ol-touch .gps {
    top: 80px;
}