.idea
node_modules
.serverless
*.log
warperpass.json
s3bucket.json
EXGW/s3
local.properties
mobile_android.iml
.gradle
app.iml
build
project.xcworkspace
xcuserdata
*.qgs
*Backward*.json
*Forward*.json
mobile_ios_lib/Release
