@import url('../common/css/bootstrap.min.css');
@import url('non-responsive.css');
@import url('bootstrap-theme.min.css');
@import url('../common/css/ol.css');
@import url('ol3-contextmenu.min.css');
@import url('ol3-geocoder.min.css');
@import url('ol3-layerswitcher.css');

html {
  height: 100vh;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
  height: 100%;
}

body.settings {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  width: auto;
}

.container.main {
  height: 100%; /*calc(100vh - 71px );*/
}

/**
 * Grid container
 */
.tiles-wrap {
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
}

/**
 * Grid items
 */
.tiles-wrap li {
  display: block;
  opacity: 0;
  text-align: center;
  list-style-type: none;
  background-color: #fff;
  float: left;
  cursor: pointer;
  width: 200px;
  padding: 4px;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.tiles-wrap.wookmark-initialised.animated li {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.tiles-wrap.wookmark-initialised li {
  opacity: 1;
}

.tiles-wrap li.wookmark-inactive {
  visibility: hidden;
  opacity: 0;
}

.tiles-wrap li:hover {
  background-color: #fafafa;
}

.tiles-wrap img {
  display: block;
}

.tiles-wrap a {
  color: #555;
  text-align: center;
  /* display: table-cell; */
  width: 200px;
  height: 200px;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.map-row {
  height: calc(100% - 50px);
}

.map-control-footer {
  height: 50px;
  padding-top: 10px;
}

.tab-content {
  height: calc(100% - 82px);
}

.auto {
  height: auto;
}

.title-container {
  height: 50px;
}

.title-container h4 {
  margin-top: 0px;
}

.nav-tabs>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
}

li.disabled {
  pointer-events: none;
}